In [1]:
import findspark
from pyspark.sql import SparkSession

findspark.init()

from pyspark import SparkContext,SparkConf
# SparkContext.setSystemProperty('spark.executor.memory', '2g')
# SparkContext("local", "App Name").memory.offHeap.enabled

spark = SparkSession.builder\
        .master('local')\
        .appName('SparkSQL')\
        .getOrCreate()
sc = spark.sparkContext
# config = SparkConf().setAll([('spark.executor.memory', '8g'), ('spark.executor.cores', '3'), ('spark.cores.max', '3'), ('spark.driver.memory','8g')])
# sc.stop()
# sc = SparkContext(conf=config)
# spark.conf.set("spark.executor.memory", "2g")

# spark.memory.offHeap.enabled
# spark.memory.offHeap.size

# spark.config("spark.memory.offHeap.enabled","true") \
#         .config("spark.memory.offHeap.size","10g")
# spark = SparkSession.builder\
#         .master('local')\
#         .appName('SparkSQL')\
#         .getOrCreate()
df = spark.read.option("delimiter", ",").option("header", True).csv('pm_clean.csv')

In [2]:
df.printSchema()

root
 |-- device_id: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name_th: string (nullable = true)
 |-- name_en: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- _c0: string (nullable = true)
 |-- time_aq: string (nullable = true)
 |-- temp: string (nullable = true)
 |-- humid: string (nullable = true)
 |-- pm25_corrected: string (nullable = true)
 |-- pm10_corrected: string (nullable = true)

In [2]:
from pyspark.sql.functions import col
from pyspark.sql.functions import *
cols = ['lat', 'long','temp','humid','pm25_corrected','pm10_corrected']
for c in cols:
    df = df.withColumn(c, col(c).cast('double'))

In [4]:
df.printSchema()

root
 |-- device_id: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name_th: string (nullable = true)
 |-- name_en: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- _c0: string (nullable = true)
 |-- time_aq: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- humid: double (nullable = true)
 |-- pm25_corrected: double (nullable = true)
 |-- pm10_corrected: double (nullable = true)

In [5]:
df.show(5)

+---------------+---+-------------------+--------------------+---------+----------+---+--------------------+----+-----+--------------+--------------+
|      device_id| id|            name_th|             name_en|      lat|      long|_c0|             time_aq|temp|humid|pm25_corrected|pm10_corrected|
+---------------+---+-------------------+--------------------+---------+----------+---+--------------------+----+-----+--------------+--------------+
|868333030868281| 24|*****กรมทรัพยากรน้ำ|Department of Wat...|13.785348|100.539084|  2|2020-07-20 18:17:...|33.1| 67.9|          11.2|          23.1|
|868333030868281| 24|*****กรมทรัพยากรน้ำ|Department of Wat...|13.785348|100.539084|  6|2020-07-20 18:22:...|33.1| 69.3|          10.4|          21.6|
|868333030868281| 24|*****กรมทรัพยากรน้ำ|Department of Wat...|13.785348|100.539084| 10|2020-07-20 18:27:...|32.9| 70.5|           9.7|          20.9|
|868333030868281| 24|*****กรมทรัพยากรน้ำ|Department of Wat...|13.785348|100.539084| 14|2020-07-20 18:32:...|32.9| 71.2|           8.9|          19.4|
|868333030868281| 24|*****กรมทรัพยากรน้ำ|Department of Wat...|13.785348|100.539084| 18|2020-07-20 18:37:...|32.8| 71.6|           8.9|          19.4|
+---------------+---+-------------------+--------------------+---------+----------+---+--------------------+----+-----+--------------+--------------+
only showing top 5 rows

In [3]:
from pyspark.sql import functions as F
from pyspark.sql.functions import *
# df3 = df.withColumn(
#             'new_date',
#                 F.to_date(
#                     F.unix_timestamp('time_aq', 'yyyy-MM-dd HH:mm:ss:SSS').cast('timestamp')))
# df3=df.withColumn("time_aq",to_timestamp("input_timestamp")).show(truncate=False)
df3=df.withColumn("new_time",to_timestamp("time_aq"))

In [17]:
df3.show(5)

+---------------+---+--------------------+--------------------+---------+----------+-------+--------------------+----+-----+--------------+--------------+--------------------+
|      device_id| id|             name_th|             name_en|      lat|      long|    _c0|             time_aq|temp|humid|pm25_corrected|pm10_corrected|            new_time|
+---------------+---+--------------------+--------------------+---------+----------+-------+--------------------+----+-----+--------------+--------------+--------------------+
|868333031252642| 82|ศูนย์ศึกษาการพัฒน...|Huai Hong Khrai R...| 18.87813|  99.21817|3593250|2021-06-29 08:48:...|31.6| 63.5|          10.4|          23.1|2021-06-29 08:48:...|
|868333031266329| 67|(4) อาคาร 11 โครง...|(4) Building 11 B...| 13.60095| 100.74824|3908067|2021-07-09 05:54:...|32.2| 69.0|          14.1|          29.1|2021-07-09 05:54:...|
|868333031254515| 77|ซอยเพชรเกษม 43 บางแค|Soi Phetkasem 43,...|13.708905| 100.41382|5714048|2021-09-01 03:24:...|29.2| 94.0|          42.4|          84.2|2021-09-01 03:24:...|
|868333031256858|160|        เขื่อนบางลาง|       Bang Lang Dam|  6.15516|101.272477|1681275|2021-04-03 00:52:...|32.4| 54.0|           8.9|          20.1|2021-04-03 00:52:...|
|868333031268465|212|โรงเรียนศรีสะเกษว...|Sisaketwittayalai...|15.111844|104.324492|4360518|2021-07-22 20:18:...|33.8| 56.4|          15.6|          32.8|2021-07-22 20:18:...|
+---------------+---+--------------------+--------------------+---------+----------+-------+--------------------+----+-----+--------------+--------------+--------------------+
only showing top 5 rows

In [ ]:
df3.show(20)

In [9]:
df3.printSchema()

root
 |-- device_id: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name_th: string (nullable = true)
 |-- name_en: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- _c0: string (nullable = true)
 |-- time_aq: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- humid: double (nullable = true)
 |-- pm25_corrected: double (nullable = true)
 |-- pm10_corrected: double (nullable = true)
 |-- new_date: date (nullable = true)

In [ ]:
# df3.filter(df3['new_date'] >= F.to_date('2020-07-20 18:35:00',F.unix_timestamp( 'yyyy-MM-dd HH:mm:ss').cast('timestamp'))).show()

In [ ]:
spark.sql("select to_date('2020-07-20 18:35:00','yyyy-MM-dd HH:mm:ss') date") \
     .show()

+----------+
|      date|
+----------+
|2020-07-20|
+----------+

In [4]:
from pyspark.sql.functions import *
df4=spark.createDataFrame([["2020-07-20 18:35:00.000"],["2020-07-20 18:40:00.000"]],["input"])
df5 = df4.withColumn(
            'new_date',
                F.to_date(
                    F.unix_timestamp('input', 'yyyy-MM-dd HH:mm:ss:SSS').cast('timestamp')))

In [5]:
df5=df4.withColumn("new",to_timestamp("input"))
df5.show()

+--------------------+-------------------+
|               input|                new|
+--------------------+-------------------+
|2020-07-20 18:35:...|2020-07-20 18:35:00|
|2020-07-20 18:40:...|2020-07-20 18:40:00|
+--------------------+-------------------+

In [14]:
df4.show(4)

+--------------------+
|               input|
+--------------------+
|2020-07-20 18:35:...|
|2020-07-20 18:40:...|
+--------------------+

In [22]:
df5.show(5)

+--------------------+-------------------+
|               input|                new|
+--------------------+-------------------+
|2020-07-20 18:35:...|2020-07-20 18:35:00|
|2020-07-20 18:40:...|2020-07-20 18:40:00|
+--------------------+-------------------+

In [21]:
df5.collect()[0]['new']

datetime.datetime(2020, 7, 20, 18, 35)

In [23]:
df3.filter((df3['new_time'] >= df5.collect()[0]['new']) & (df3['new_time'] < df5.collect()[1]['new'])).show()

+---------------+---+--------------------+--------------------+---------+----------+---+--------------------+----+-----+--------------+--------------+--------------------+
|      device_id| id|             name_th|             name_en|      lat|      long|_c0|             time_aq|temp|humid|pm25_corrected|pm10_corrected|            new_time|
+---------------+---+--------------------+--------------------+---------+----------+---+--------------------+----+-----+--------------+--------------+--------------------+
|868333030868281| 24| *****กรมทรัพยากรน้ำ|Department of Wat...|13.785348|100.539084| 18|2020-07-20 18:37:...|32.8| 71.6|           8.9|          19.4|2020-07-20 18:37:...|
|868333030873646| 23|*****กรมประชาสัมพ...|Government Public...|13.783098|100.540368| 16|2020-07-20 18:37:...|31.4| 79.1|           9.7|          20.9|2020-07-20 18:37:...|
|   30AEA49CC204| 17|ตึก 3 คณะวิศวกรรม...|Building 3, Facul...|13.736983|100.533476| 17|2020-07-20 18:37:...|35.7| 62.0|           8.5|           9.2|2020-07-20 18:37:...|
|868333030879387| 22|*****สถานีทดสอบที่ 1|   Testing station 1|13.824576|100.579485| 19|2020-07-20 18:38:...|29.3| 83.4|          12.6|          26.8|2020-07-20 18:38:...|
+---------------+---+--------------------+--------------------+---------+----------+---+--------------------+----+-----+--------------+--------------+--------------------+

In [ ]:
from pyspark.sql.functions import *
df4.select(col("input"), 
    to_timestamp(col("input"), "MM-dd-yyyy HH mm ss SSS").alias("to_timestamp") 
  ).show(truncate=False)

In [6]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
dff = spark.createDataFrame(data=data2,schema=schema)
dff.printSchema()
dff.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [7]:
df3.show()

+---------------+---+--------------------+--------------------+---------+----------+--------+--------------------+----+-----+--------------+--------------+--------------------+
|      device_id| id|             name_th|             name_en|      lat|      long|     _c0|             time_aq|temp|humid|pm25_corrected|pm10_corrected|            new_time|
+---------------+---+--------------------+--------------------+---------+----------+--------+--------------------+----+-----+--------------+--------------+--------------------+
|868333031252642| 82|ศูนย์ศึกษาการพัฒน...|Huai Hong Khrai R...| 18.87813|  99.21817| 3593250|2021-06-29 08:48:...|31.6| 63.5|          10.4|          23.1|2021-06-29 08:48:...|
|868333031266329| 67|(4) อาคาร 11 โครง...|(4) Building 11 B...| 13.60095| 100.74824| 3908067|2021-07-09 05:54:...|32.2| 69.0|          14.1|          29.1|2021-07-09 05:54:...|
|868333031254515| 77|ซอยเพชรเกษม 43 บางแค|Soi Phetkasem 43,...|13.708905| 100.41382| 5714048|2021-09-01 03:24:...|29.2| 94.0|          42.4|          84.2|2021-09-01 03:24:...|
|868333031256858|160|        เขื่อนบางลาง|       Bang Lang Dam|  6.15516|101.272477| 1681275|2021-04-03 00:52:...|32.4| 54.0|           8.9|          20.1|2021-04-03 00:52:...|
|868333031268465|212|โรงเรียนศรีสะเกษว...|Sisaketwittayalai...|15.111844|104.324492| 4360518|2021-07-22 20:18:...|33.8| 56.4|          15.6|          32.8|2021-07-22 20:18:...|
|868333031252642| 82|ศูนย์ศึกษาการพัฒน...|Huai Hong Khrai R...| 18.87813|  99.21817| 1480789|2021-03-17 14:27:...|42.8| 30.0|          48.3|          82.0|2021-03-17 14:27:...|
|868333031256858|160|        เขื่อนบางลาง|       Bang Lang Dam|  6.15516|101.272477| 3522943|2021-06-26 21:14:...|30.1| 82.0|           8.9|          20.1|2021-06-26 21:14:...|
|868333031266485|126|โรงเรียนเทศบาลคำใ...|Khamyai Punnamjai...|16.672226|102.764458| 6883074|2021-10-05 23:23:...|30.7| 71.2|          11.2|          23.8|2021-10-05 23:23:...|
|868333031252642| 82|ศูนย์ศึกษาการพัฒน...|Huai Hong Khrai R...| 18.87813|  99.21817|  503047|2020-12-29 11:14:...|29.6| 42.9|          20.8|          39.5|2020-12-29 11:14:...|
|868333031254812|251|   เทศบาลตำบลเวียงสา|   Wiang Sa Building|18.570911|100.751085|10798047|2022-01-08 04:54:...|22.3| 63.2|          40.1|          71.5|2022-01-08 04:54:...|
|868333031259571|208|     โรงเรียนบ้านไผ่|      Banphai School|16.072254|102.733283|10632273|2022-01-05 05:34:...|24.1| 75.9|          25.3|          48.4|2022-01-05 05:34:...|
|868333031259027|167|โรงเรียนอนุบาลวัด...|Anubanwatsakaeo S...|13.819968|102.066574| 6528507|2021-09-25 16:40:...|32.8| 67.6|          11.9|          26.1|2021-09-25 16:40:...|
|868333031251800| 75|(12) อาคารสำนักงา...|(12) Bangchalong ...| 13.60125| 100.74993| 8842515|2021-11-28 09:49:...|31.4| 77.3|          24.5|          45.4|2021-11-28 09:49:...|
|868333031258722|114|สถานีสูบน้ำหนองแค...|Nong Khae pumping...|14.331443|100.872881| 8403025|2021-11-16 21:36:...|31.0| 74.4|          21.6|          42.5|2021-11-16 21:36:...|
|868333031264662|189| โรงไฟฟ้าบ้านขุนกลาง|Ban Khun Klang Po...|18.541825| 98.517977| 8374059|2021-11-16 03:10:...|23.7| 61.1|           8.9|          20.1|2021-11-16 03:10:...|
|868333031268465|212|โรงเรียนศรีสะเกษว...|Sisaketwittayalai...|15.111844|104.324492| 3918447|2021-07-09 13:33:...|41.0| 41.7|           9.7|          21.6|2021-07-09 13:33:...|
|868333031254796|108|คุณสายชล สันเขื่อ...|         Sirikit Dam|17.767062|100.566225| 2496382|2021-05-18 12:10:...|38.4| 49.3|          20.8|          39.5|2021-05-18 12:10:...|
|868333031267426|142|สถานีตรวจวัดคุณภา...|Ban Klongwailek A...| 7.962033|  99.05563| 7885703|2021-11-03 02:45:...|27.1| 92.0|          16.4|          39.5|2021-11-03 02:45:...|
|868333031259068|185|โรงเรียนศรีสงคราม...|Srisongkramwittay...|17.300882|101.790582| 6987465|2021-10-08 22:07:...|31.3| 71.8|          30.5|          55.9|2021-10-08 22:07:...|
|868333031230143|322|ห้างหุ้นส่วนจำกัด...|Nopbhadung Servic...|16.551685|104.719146|11709268|2022-01-21 19:03:...|27.4| 55.3|          52.8|          93.1|2022-01-21 19:03:...|
+---------------+---+--------------------+--------------------+---------+----------+--------+--------------------+----+-----+--------------+--------------+--------------------+
only showing top 20 rows

In [6]:
df3.columns

['device_id',
 'id',
 'name_th',
 'name_en',
 'lat',
 'long',
 '_c0',
 'time_aq',
 'temp',
 'humid',
 'pm25_corrected',
 'pm10_corrected',
 'new_time']

In [15]:
df3 = df3.dropna()

In [16]:
from pyspark.ml.feature import VectorAssembler
# df3.columns
assemble=VectorAssembler(inputCols=[
 
 'lat',
 'long',
 
 'temp',
 'humid',
 'pm25_corrected',
 'pm10_corrected',
 ], outputCol='features')
assembled_data=assemble.transform(df3)
assembled_data.show(2)

+---------------+---+--------------------+--------------------+--------+---------+-------+--------------------+----+-----+--------------+--------------+--------------------+--------------------+
|      device_id| id|             name_th|             name_en|     lat|     long|    _c0|             time_aq|temp|humid|pm25_corrected|pm10_corrected|            new_time|            features|
+---------------+---+--------------------+--------------------+--------+---------+-------+--------------------+----+-----+--------------+--------------+--------------------+--------------------+
|868333031252642| 82|ศูนย์ศึกษาการพัฒน...|Huai Hong Khrai R...|18.87813| 99.21817|3593250|2021-06-29 08:48:...|31.6| 63.5|          10.4|          23.1|2021-06-29 08:48:...|[18.87813,99.2181...|
|868333031266329| 67|(4) อาคาร 11 โครง...|(4) Building 11 B...|13.60095|100.74824|3908067|2021-07-09 05:54:...|32.2| 69.0|          14.1|          29.1|2021-07-09 05:54:...|[13.60095,100.748...|
+---------------+---+--------------------+--------------------+--------+---------+-------+--------------------+----+-----+--------------+--------------+--------------------+--------------------+
only showing top 2 rows

In [17]:
df4 = df3[[
 
 'lat',
 'long',
 
 'temp',
 'humid',
 'pm25_corrected',
 'pm10_corrected',
 ]]
df4.show(2)

+--------+---------+----+-----+--------------+--------------+
|     lat|     long|temp|humid|pm25_corrected|pm10_corrected|
+--------+---------+----+-----+--------------+--------------+
|18.87813| 99.21817|31.6| 63.5|          10.4|          23.1|
|13.60095|100.74824|32.2| 69.0|          14.1|          29.1|
+--------+---------+----+-----+--------------+--------------+
only showing top 2 rows

In [18]:
from pyspark.ml.feature import StandardScaler
scale=StandardScaler(inputCol='features',outputCol='standardized')
data_scale=scale.fit(assembled_data)
data_scale_output=data_scale.transform(assembled_data)
data_scale_output.show(2)

+---------------+---+--------------------+--------------------+--------+---------+-------+--------------------+----+-----+--------------+--------------+--------------------+--------------------+--------------------+
|      device_id| id|             name_th|             name_en|     lat|     long|    _c0|             time_aq|temp|humid|pm25_corrected|pm10_corrected|            new_time|            features|        standardized|
+---------------+---+--------------------+--------------------+--------+---------+-------+--------------------+----+-----+--------------+--------------+--------------------+--------------------+--------------------+
|868333031252642| 82|ศูนย์ศึกษาการพัฒน...|Huai Hong Khrai R...|18.87813| 99.21817|3593250|2021-06-29 08:48:...|31.6| 63.5|          10.4|          23.1|2021-06-29 08:48:...|[18.87813,99.2181...|[7.09875768964063...|
|868333031266329| 67|(4) อาคาร 11 โครง...|(4) Building 11 B...|13.60095|100.74824|3908067|2021-07-09 05:54:...|32.2| 69.0|          14.1|          29.1|2021-07-09 05:54:...|[13.60095,100.748...|[5.11437565049704...|
+---------------+---+--------------------+--------------------+--------+---------+-------+--------------------+----+-----+--------------+--------------+--------------------+--------------------+--------------------+
only showing top 2 rows

In [19]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
silhouette_score=[]
evaluator = ClusteringEvaluator(predictionCol='prediction', featuresCol='standardized', \
                                metricName='silhouette', distanceMeasure='squaredEuclidean')
for i in range(2,10):

    KMeans_algo=KMeans(featuresCol='standardized', k=i)

    KMeans_fit=KMeans_algo.fit(data_scale_output)

    output=KMeans_fit.transform(data_scale_output)



    score=evaluator.evaluate(output)

    silhouette_score.append(score)

    print("Silhouette Score:",score)

Silhouette Score: 0.2476230855336728

In [ ]:
#Visualizing the silhouette scores in a plot
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1,1, figsize =(8,6))
ax.plot(range(2,10),silhouette_score)
ax.set_xlabel('k')
ax.set_ylabel('cost')